body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(124 69% 9%);
}

header {
    background-color: hwb(143 18% 19%);
    color: hwb(142 5% 51%);
    padding: 10px 0;
    text-align: center;
}

header .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

label.fa-bars {
    font-size: 2rem;
    cursor: pointer;
    color: hsl(110, 19%, 63%);
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    padding: 10px 20px;
    background-color: hsl(87, 59%, 58%);
    color: hsl(166, 61%, 24%);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px hsla(87, 74%, 46%, 0.432);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
    background-color: rgb(200, 235, 119);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(213, 213, 50);
    }

    .menu a {
        padding: 15px 20px;
        border-bottom: 1px solid hwb(147 16% 29%);
    }

    .menu a:last-child {
        border-bottom: none;
    }

    input[type="checkbox"]:checked ~ .menu {
        display: flex;
    }

    label.fa-bars {
        display: block;
    }
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(230, 248, 34);
}

section h2 {
    font-size: 2rem;
    margin-top: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

article {
    margin-bottom: 20px;
    text-align: center;
    background-color: hsl(120, 92%, 50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #eae61f;
}

article img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

article h3 {
    margin-top: 0;
    color: hsl(78, 100%, 50%);
}

article p {
    margin-bottom: 10px;
}

article .precio {
    font-weight: bold;
    font-size: 1.2rem;
    color: hsl(91, 100%, 65%);
}

footer {
    background-color: hwb(165 30% 0%);
    color: hsl(129, 47%, 61%);
    padding: 10px 0;
    text-align: center;
}

.red-soc a {
    color: hsl(111, 70%, 57%);
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
}

.red-soc a:hover {
    color: hwb(152 20% 8%);
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: box-shadow 0.3s ease-in-out;
}

img:hover {
    box-shadow: 0 0 15px 20px yellow;
}
